@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Inter-Regular.woff2') format('woff2');
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/Inter-Medium.woff2') format('woff2');
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/Inter-Bold.woff2') format('woff2');
	}
}

html {
	height: 100vh;
}

body {
	height: 100%;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body > #root > main {
	flex: 1;
}

.ant-collapse {
	background: #fce600;
}

.fade-in-up {
	animation: fade-in-up 0.5s ease-in-out forwards;
}

@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.tilt-animation {
	animation: tilt 4s ease-in-out infinite;
	transform-origin: top center;
}

@keyframes tilt {
	0%,
	100% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(5deg);
	}
}

.flag-img {
	width: 500px;
}
